div.container {
  background: #0373fc;
}

div.justify-content-md-center.row {
  height: 50px;
  padding-top: 6px;
}

div.row {
  color: #d1e2ff;
}

span.badge-danger {
  margin-left: 5px!important;
}

div.nav-item a {
  color: white;
  text-decoration: none;
}

div.nav-item a.active {
  color: black;
  text-decoration: none;
}

div.bg-info.card {
  width: 15rem;
}
